/* 9-extend_list.scss */
%font-size {
    font-size: 12px;
}

.warning {
    color: #FF0000;
    @extend %font-size;
}

.success {
    color: #00FF00;
    @extend %font-size;
}

.info {
    @extend %font-size;
}

